<title>Static Website</title>
<meta charset="utf-8">
<meta name="active-menu" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./assets/styles.css">
<link rel="stylesheet" href="./assets/layout.css">
<link rel="stylesheet" href="./assets/navbar.css">
