<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <% include partials/menu.ejs %>
  <div class="contact_page">
    <h1>Hello Contact</h1>
    <div class="container">
      <div class="column">
        <p>Email : joko.mzee@gmail.com</p>
        <p>Phone : 062 4204 382</p>
      </div>
      <div class="column">
        <form class="contact_form" action="#" method="#" id="contact_form">
          <label for="email" class="email_label">Email</label>
          <input type="text" name="email" placeholder="email" class="email_input" id="email" >
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name" id="name" >
          <textarea name="message" rows="8" cols="65" id="message"></textarea>
          <button type="submit" name="button">Send</button>
      </form>
    </div>
  </div>
</div>

<% include partials/scripts.ejs %>
  </body>
</html>
