<div class="expeirance">
  <h1>Working experiance</h1>
  <span><strong> code space :</strong> 2017-June - 2017-December</span>
  <p><strong>position :</strong> Student front-end web developer.</p>
  <p>Learnt fundementals of HTML,CSS,JQuery,Javascript and PHP</p>

  <span><strong> Native VML :</strong> 2017-Febuary - 2018-march</span>
  <p><strong>position :</strong> junior front-end intern </p>
  <p>worked as a junior in one of old-mutual intergration web applications.</p>

  <span><strong> Capaciti :</strong> 2018-September - 2019-January</span>
  <p><strong>position :</strong> Student JAVA developer</p>
  <p>Learnt fundementals of JAVA developer and advance programming</p>

  <span><strong> culture Systems :</strong> 2019-March - 2019-June</span>
  <p><strong>position :</strong> junior front-end independent contractor </p>
  <p>worked as a junior in one of finlight  Website and  applications intergration.</p>
</div>
