<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <% include partials/menu.ejs %>

    <div class="container">
      <div class="header_text">
               <h1>Hello my name Is Mziyanda Joko </h1>
               <p>I am a junior front-end developer, with a 3 years of expeirance</p>
      </div>
      <% include articles.ejs %>
      <% include experiance.ejs %>
      <% include showcase.ejs %>
    </div>

  <% include partials/scripts.ejs %>
  </body>
</html>
