.navbar .container {
      display: block;
      background-color: transparent;
      color: #555555;
  }

  .navbar {
      padding: 15px 0px;
      font-size: 12px;
      letter-spacing: 5px;

  }
 
  .navbar-ul {
    display: flex;
  }
  .navbar-ul li{
    flex-flow: row;
    list-style-type: none;
    padding: 0px 10px;
  }
  .navbar-ul a{
    text-decoration: none;
  }
